.top{
    background: linear-gradient(to bottom, rgba(0, 15, 146, 0.2), rgba(0, 15, 146, 0.2)),
    url(../../assets/images/top-img.png) no-repeat center;
    background-size: cover;
    height: 500px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 2rem;
}

.top h3{
    font-size: 2.5rem;
    line-height: 40px;
}

.top h4{
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

.next-events {

    margin: 2rem;
}

.next-events .cta{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.next-events h3{
    font-size: 2.5rem;
}

.next-events .cta h4{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin: 2.1rem 0;

}

.next-events button{
    background: var(--color-primary);
    color: white;
    font-size: 2.1rem;
    padding: 1.7rem 4.2rem;
    border-radius: 4px;
    border: none;
    align-self: center;
}

.next-events button:hover{
    background: rgba(154, 15, 175, 0.75);
}

.about{
    background: #F5C161;
    padding: 5.2rem 2.1rem;

}

.about h3{
    color: var(--color-primary);
    Font-Size: 3.4rem;

}

.about h4{
    Font-Size: 2rem;
    padding-top: 2rem;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 3.1rem;
}

.about button{
    background: var(--color-secundary);
    color: white;
    font-size: 2.1rem;
    padding: 1.7rem 4.2rem;
    border-radius: 4px;
    border: none;
}

.numbers{
    display: flex;

}

.numbers h3{
    Font-Size: 9.4rem;
    margin-right: 2.2rem;
    color: var(--color-secundary);
    text-shadow: 6px 5px 1px rgba(154, 15, 175, 0.7);
    margin-bottom: 1.4rem;
    font-weight: 900;
}

.numbers h4{
    Font-Size: 2.5rem;
    line-height: 40px;
    margin-right: 1rem;
    padding-top: 3.9rem;
}

#number2 h4   {
    padding-top: 3.1rem ;
    margin-bottom: 1.3rem;
}


#number3 h3   {
    margin-top: 0rem ;
    text-shadow: 3px 5px 1px rgba(154, 15, 175, 0.7);
}

#number3 h4   {
    padding-top: 2.4rem ;
}

.supporters{
    margin: 2rem;
}
.supporters h3{
    font-size: 2.5rem;
}
.supporter-logos{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.supporter-logos img{
    max-height: 90px;
    padding-top: 2rem;
    flex-basis: 33%;
}

@media (min-width: 700px){
    .top{
        height: 700px;
        padding-left: 8rem;
    }

    .top h3{
        font-size: 5rem;
        line-height: 70px;
    }

    .top h4{
        font-size: 3.3rem;
    }

    .about{
        display: flex;

        padding: 4.1rem 9.5rem 4.1rem 4.1rem;
    }

    .events{
        display: flex;
        flex-wrap: wrap;
    }

    .Card{
        margin-right: 2.1rem;
        max-width: 30%;

    }

    .next-events .cta{
        width: 30%;
        justify-content: center;


    }

    .spacer{
        flex: 1;
    }

    .about-title{
        flex-basis: 45%;
    }

    .about-numbers{
        flex-basis: 46%;
    }
    .about h3{
        Font-Size: 4.2rem;
    }

    .about h4{
        font-size: 3.4rem;
        line-height: 48px;

    }

    .numbers h3{
        Font-Size: 9.4rem;
        text-shadow: 6px 5px 1px var(--color-primary);
    }

    .numbers h4{
        font-size: 3.4rem;
        line-height: 40px;
        margin-right: 0rem;

    }

    #number3 h3{
        text-shadow: 3px 5px 1px var(--color-primary)
    }

    #number3 h4{
        padding-top: 4.5rem;
        margin-bottom: 2rem;
    }


    .supporter-logos{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1rem;;
    }
    .supporter-logos img{
        padding: 1rem;
    }
}
